extends layout

block content
  //- Loop through and display errors
  if errors
    each error in errors 
      p(style="color:red") #{error.msg}

  .form-wrapper
    h1 Login
    //- Create form for user login and post to express route
    form(method="POST", action="/users/login")
      //- Create input elements based on user model
      .form-group 
        label(for="email") Email:
        input.form-control(name="email", id="email", type="text", required)

      .form-group 
        label(for="password") Password:
        input.form-control(name="password", id="password", type="password", required)

      .form-group 
        input.btn.btn-primary(type="submit", value="Submit")